footer.footer_common
	.footer_container
		.common_footer_class
			.contact_info_block Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool.
			.info_for_me © Соковиков Денис Создано с любовью в LoftSchool | 2016
		.common_footer_class
			.contact_info_nav
				ul.info_nav
					li.info_nav_item
						a.info_nav_link(href="work.html" target="_blank") Мои работы
					li.info_nav_item
						a.info_nav_link(href="about.html" target="_blank") Обо мне
					li.info_nav_item
						a.info_nav_link(href="blog.html" target="_blank") Блог
					li.info_nav_item
						a.info_nav_link(href="#" target="_blank") Авторизация
			.contact_info_social
				ul.info_social
					li.info_social_item
						a.info_social_link(href="#")
							svg.icon.vk
								use(xlink:href='assets/icons/sprite.svg#vk')
					li.info_social_item
						a.info_social_link(href="#")
							svg.icon.github
								use(xlink:href='assets/icons/sprite.svg#github')
					li.info_social_item
						a.info_social_link(href="#")
							svg.icon.in
								use(xlink:href='assets/icons/sprite.svg#in')
		.common_footer_class
			.cont_skupe den.sokovikov
			.cont_number +79313135535
			.city_name Санкт-Петербург
