header.header_common
	//.portf_bg
	.header_icons
		ul.header_social
			li.social_item
				a.social_link(href="http://vk.com/")
					svg.icon.vk
						use(xlink:href='assets/icons/sprite.svg#vk')
			li.social_item
				a.social_link
					svg.icon.github
						use(xlink:href='assets/icons/sprite.svg#github')
			li.social_item
				a.social_link
					svg.icon.in
						use(xlink:href='assets/icons/sprite.svg#in')
		.gamburger

	.header_info_me
		.header_avatar
			img.header_foto(src="../assets/img/my_foto.jpg",alt="my_foto")
		.header_name Соковиков Денис
		.header_descr Личный сайт веб разработчика
	.header_tr_bg

			

