header.header_common
	svg.icon.portfolio_header
		use(xlink:href='assets/icons/sprite.svg#portfolio_header')
	.header_fix
		.header_icons
			ul.header_social
				li.social_item
					a.social_link(href="http://vk.com/" target="_blank")
						svg.icon.vk
							use(xlink:href='assets/icons/sprite.svg#vk')
				li.social_item
					a.social_link(href="http://github.com" target="_blank")
						svg.icon.github
							use(xlink:href='assets/icons/sprite.svg#github')
				li.social_item
					a.social_link(href="http://github.com" target="_blank")
						svg.icon.in
							use(xlink:href='assets/icons/sprite.svg#in')
	.header_info_me
		.header_avatar
			img.header_foto(src="../assets/img/my_foto.jpg",alt="my_foto")
		.header_name Соковиков Денис
		.header_descr Личный сайт веб разработчика
	.header_tr_bg
		svg.icon.bg
			use(xlink:href="assets/icons/sprite.svg#bg")
.hidden_menu
	.burger
	.hidden_menu_cont
		ul.hidden_menu_list
			li.hidden_menu_item
				a.hidden_link(href="work.html" target="_blank") Мои работы
			li.hidden_menu_item
				a.hidden_link(href="blog.html" target="_blank") Блог
			li.hidden_menu_item
				a.hidden_link(href="about.html" target="_blank") Обо мне
			li.hidden_menu_item
				a.hidden_link(href="welcome.html" target="_blank") Авторизация


			

