.header_common{
	position: relative;
	background-image:  url("../img/welcome_background.jpg");
	background-position: 50% 35%;
	background-repeat:no-repeat;
	width: 100%;
	height: 100vh;
	background-size: cover;
}

.portfolio_header{
	min-width: 100%;//1176px;
  height: 313px;
  top: 30%;
  left: 50%;
  margin: auto;
	position: absolute;
	fill: rgba(205, 137, 32, 0.1);
  transform: translate(-50%, -50%);
}

.header_info_me{
	position: relative;
	color:$color_link;
	text-align:center;
	margin-bottom: 500px;
}

.header_avatar{
  margin:30px auto ;
  padding: 0;
  position: relative;
  width: 141px;
  height: 141px;
  border-radius: 50%;
  overflow: hidden;
}

.header_foto{
 max-width:100%;
 }

 .header_name{
  margin-bottom: 10px;
  font-size:28px;
  font-family: "RobotoMedium";
 }

.header_descr{
  opacity: 0.8;
}

.header_fix{
  z-index:10;
}
.header_icons{
	padding-top:28px;
	position: relative;
  
}

.header_icons:after {
    content: "";
    display: table;
    clear: both;
  }

.header_social{
	list-style: none;
	display:relative;
	margin: 0;
	padding: 0;
	float:left;
	margin-left:30px;
}

.social_item{
	display: inline-block;
	vertical-align: middle;
	margin-left:27px;
	cursor:pointer;
  z-index:99;
}


.social_link_text{
  position: absolute;
  left: -9999px;
}


.social_item:first-child{
	margin-left:0;
}

.header_icons{
	margin-bottom:30px;
}
.link,.vk,.in,.github {
    width: 26px;
    height: 22px;
    fill:rgba(#fff,.6);
  	&:hover{
  		fill:rgba(#fff,1);;
  	}
}
.header_tr_bg{
	position: absolute;
    bottom:-182px;
    font-size: 0;
    left: 0;
    width: 100%;
}

.bg{
	width: 100%;
	height: 360px;
	fill:rgba(#eeebdf,1)
}

/*-------common_menu--------------*/
.hidden_menu{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index:1;
}

.hidden_menu:after,
.hidden_menu:before{
  content:'';
  display: block;
  float: left;
  background-color: rgba(200,100,0, .7);
  width:50%;
  height: 100%;
  transition: transform, 1s;
}

.hidden_menu:before{
  transform:translateX(-100%)
}

.hidden_menu:after{
  transform:translateX(100%)
}

.hidden_menu.active:before{
  transform:translateX(0)
}

.hidden_menu.active:after{
  transform:translateX(0)
}

.hidden_menu_cont{
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%, -50%);
  visibility: hidden;
  opacity: 0;
  height: 100%;
  z-index:999;
}

.hidden_menu_item{
  margin-bottom: 50px;
  min-height: 50px;
  cursor: pointer;
}

.hidden_menu_list{
  list-style: none;
  text-align:center;
 }

.hidden_link{
  text-transform: uppercase;
  position: relative;
  color: #fff;
  text-decoration: none;
  overflow: hidden;
  font-size: 60px;
}

/*--------hidden menu--------------------*/
.content_show{
  transition: all 0s ease 3s;
  visibility: visible;
  opacity: 1;
  height: 100%;
  width: 100%;
  position: fixed;
}

/*--------burger--------------------*/
.burger-menu {
  position: relative;
  width: 50px;
  height: 50px;
  cursor: pointer;
  float:right;
  margin-right: 50px;
  padding:0;
  z-index:99;

}


.burger {
  position: absolute;
  background: rgba(#fff,1);
  width: 100%;
  height: 7px;
  top: 50%;
  right: 0px;
  margin-top: -5px;
  opacity: 1;
  

}

.burger::before {
  position: absolute;
  background: rgba(#fff,1);
  width: 50px;
  height: 7px;
  top: 20px;
  content: "";
  display: block;
}

.burger::after {
  position: absolute;
  background: rgba(#fff,1);
  width: 50px;
  height: 7px;
  bottom: 20px;
  content: "";
  display: block;
}

.burger::after, .burger::before, .burger {
  transition: all .3s ease-in-out;
}
.burger-menu.menu-on .burger::after{
   transform: rotate(-45deg);
  bottom: 0px;
}
.burger-menu.menu-on .burger::before{
   transform: rotate(45deg);
  top: 0px;
}
.burger-menu.menu-on .burger{
 background: rgba(111,111,111,.0);
}
  /*--------burger-end------------------*/





.menu{
  position: relative;
  widows: 100%;
  height: 100%;
  overflow: hidden;
}

.menu:after,
.menu:before{
  content:'';
  display: block;
  float: left;
  background-color: rgba(200,100,0, .7);
  width:50%;
  height: 100%;
  transition: transform, 4s;
}


/*--------------arrow----------*/

.link_wrap{
  margin-top: -100px;
  margin-bottom: 100px;
  position: relative;
  width: 100%;
}

.link_wrap .link{
   display: block;
   background: transparent;
   border: none;
   cursor: pointer;
   outline: none;
   position: absolute;
   text-align: center;
   width: 70px;
   height: 70px;
   line-height: 70px;
   top:50%;
   left:50%;
   margin: auto;
   transform: translateX(-50%);
   transition: all .5s;
}

.link .arrowDown{
  width: 26px;
  height: 16px;
  fill:rgba(#fff,.7);
  transition: all .5s;
  filter: drop-shadow(0px 0px 3px #000);
}
