html {
    position: relative;
    min-height: 100%;
}
body{
	 margin: 0;
	 position: relative;
}
@import 'common/_header';
@import 'common/_preloader';
/*---------------about_content______*/

.about_section{
	position: relative;
	width: 100%;
    padding-top: 20px;
    margin: auto;
    
}	

.about_section:after {
    content: "";
    display: table;
    clear: both;
  }


.left_side{
	width: 50%;
    height: 100%;
	float: left;
	margin: 0;
	padding: 0;
	background: rgba(#efeee9, 1);
    vertical-align:middle;
    
}
.left_side_container{
    height: 100%;
}

.about_bg_left{
    width: 50%;
    height: 600px;
    fill:#000;
}

.left_avatar{
	max-width: 443px;
    max-height: 390px;
    overflow: hidden;
    margin-bottom: 40px;
    margin: 0 auto;
    position: top center;
    
}
.about_my_foto{
	max-width: 100%;
}

.left_text_title{
	margin-top: 20px;
    position: relative;
    color: #5d5955;
    font-family: "SansusWebissimoRegular", sans-serif;
    font-size: 26px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 40px;
 }

.left_title{
	color: #373e42;
   font-family: "SansusWebissimoRegular", sans-serif;
   font-size: 63px;
   position: relative;
   float: left;
   width: 50%;
   text-align:center;
}


.left_title:before{
	position: absolute;
    content: '';
    top: 50%;
    margin-left: -50px;
    width: 40px;
    height: 14px;
    margin-top: -4px;
    background: url("../img/left_title_2.png");
}

.left_title:after{
	position: absolute;
    content: '';
    top: 50%;
    width: 40px;
    height: 14px;
    margin-top: -4px;
    margin-left: 10px;
    background: url("../img/left_title_1.png") no-repeat;
}

    
.left_text_title:before{
	position: absolute;
    content: '';
    top: 50%;
    margin-left: -31px;
    width: 40px;
    height: 14px;
    margin-top: -4px;
    background: url("../img/left_title_3.png") no-repeat;
    
}

.left_text_title:after{
	position: absolute;
    content: '';
    top: 50%;
    margin-left: 10px;
    width: 40px;
    height: 14px;
    margin-top: -4px;
    background: url("../img/left_title_4.png") no-repeat;
    
}



.left_text_block{
    color: #5d5955;
    font-family: "RobotoRegular";
    font-size: 16px;
}	

.left_info_me{
	color: #000;
	width: 443px;
	float:right;
	padding-right: 5px;
}

.right_side{
	width: 50%;
	float: right;
	padding: 0;
	background: rgba(#eeebdf, 1);
    vertical-align:middle;
    padding:0;
}

.right_side_container{
    padding-left: 35px;
}

.right_text{
	color: #5d5955;
    font-family: "RobotoRegular";
    font-size: 16px;
    margin-bottom: 40px;
    padding-left: 10px;
    padding-right: 10px;
}

.right_title{
	color: #373e42;
   font-family: "SansusWebissimoRegular", sans-serif;
   font-size:35px;
   text-align:center;
   text-transform: uppercase;
   margin:0 auto 28px;
   width: 280px;
   position: relative;
   padding:0;
}

.right_title:before{
	position: absolute;
    content: '';
    top: 50%;
    margin-left: -31px;
    width: 40px;
    height: 14px;
    margin-top: -4px;
    background: url("../img/left_title_3.png") no-repeat;
    
}

.right_title:after{
	position: absolute;
    content: '';
    top: 50%;
    margin-left: 10px;
    width: 40px;
    height: 14px;
    margin-top: -4px;
    background: url("../img/left_title_4.png") no-repeat;
    
}

.right_text{
	color: #5d5a55;
    margin-bottom: 50px;
	font-family: "RobotoRegular";
}

.front_item,.back_item,.workw_item{
	display: inline-block
}

/*----------diagrams---------------*/

.svg_item{
    display: inline-block;
    position: relative;
    margin-right: 37px;
}
.circle{
    width: 110px;
    height: 110px;
}

.bottom{
    stroke-dashoffset: 0;
    stroke: #dfdcd5;
    stroke-width: 20px; 
}

.cover{
    stroke: #e7a731;
    transition: stroke-dashoffset 1.5s;
    stroke-width: 20px;
}

.title_diagrams{
    color: #5d5a55;
    font-size: 28px;
    margin-bottom: 20px;
}

.skill{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size:14px;
    color: #cd8920;
    text-align: center;
}


/*--------maps---------------------*/

#map{
    width: 100%;
    height: 974px;
}

.about_maps{
    position: relative;
}

.maps_title_cont{
    padding-top: 20px;
}

.maps_contact{
    width: 380px;
    height: 285px;
    position: absolute;
    z-index: 5;
    top: 40%;
    left: 40%;
    background: rgba(#fff, 0.75);
    
}

.maps_title{
    color: #373e42;
   font-family: "SansusWebissimoRegular", sans-serif;
   font-size: 35px;
   position: relative;
   width: 50%;
   text-align:center;
   margin: auto;
}


.maps_title:before{
    position: absolute;
    content: '';
    top: 50%;
    margin-left: -50px;
    width: 40px;
    height: 14px;
    margin-top: -4px;
    background: url("../img/left_title_2.png");
}

.maps_title:after{
    position: absolute;
    content: '';
    top: 50%;
    width: 40px;
    height: 14px;
    margin-top: -4px;
    margin-left: 10px;
    background: url("../img/left_title_1.png") no-repeat;
}

.maps_nav{
    list-style: none;
    margin-left:40px;
    padding: 0;
}
.maps_item{
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
    
}

.maps_item a{
    text-decoration: none;
}

.skp,.evn,.marker,.phone{
    width: 24px;
    height: 24px;
    fill: #e7a731;
    padding-right: 20px;
}

.maps_cont_text{
    font-family: "RobotoMedium", Arial, sans-serif;
    font-size: 16px;
    color: #858380;
    vertical-align:top
}

@import 'common/_footer';