/*---------------about_content______*/
.blog_section{
	width: 100%;
	padding-top: 30px;
	margin-bottom: 100px;
	background-color: #eeebdf;;
}

.blog_section:after{ 
    content: "";
    display: table;
    clear: both;
}

/*.blog_container{
	max-width: 1200px;
	margin: auto;	
}*/

.right_bl_content{
	vertical-align:middle;
	display: block;
    margin: 0 60px 70px;
    border-bottom: 4px solid rgba(55, 61, 65, 0.1);
    padding-bottom: 30px;
}

.sidebar_menu{
  height: 1px;
  position: relative;
}

.left_blog_sidebar{
	width:30%;
	float: left;
	margin-top: 30px;
}

.right_blog_main{
	width: 67%;
	float: left;
	color: #000;
	z-index:5;
	padding-right: 30px;
	
}

.menu_list{
  position: absolute;
  top: 0;
  left: 0;
}

.menu_item{
  list-style-type: none;
  text-align: right;
  margin-bottom: 10px;
  padding: 10px 15px 10px 0;
}
.menu_item_active{
  list-style-type: none;
  text-align: right;
  margin-bottom: 10px;
  border-right: 2px solid #e7a731;
  padding: 10px 15px 10px 0;
  transition: all,.5s;
}

/*.left_blog_sidebar .sidebar_menu.fixed {
    position: fixed;
    width: 30%;
    padding-top: 10px;
    top: 0;
}*/

.menu_link_s{
	position: relative;
    padding: 10px 0;
    color: #5d5955;
    text-decoration: none;
}

.right_blog_main:after{
  content: "";
  display: table;
  clear: both;
}

.right_bl_title{
    color: #5d5955;
    font-family: "SansusWebissimoRegular", sans-serif;
    font-size: 30px;
    margin-bottom: 30px;
}

.right_bl_data{
	opacity: .7;
    color: #cc881f;
    font-family: "RobotoRegular";
    font-size: 14px;
	margin-bottom: 25px;
}

 .right_bl_text{
  	color: #5d5955;
    font-family: "RobotoRegular";
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 20px;
  }

 .right_bl_cod{
 	display: block;
    overflow-x: auto;
    background: #fff;
    color: #4d4d4c;
    padding: .5em;
   }