
//- blog.jade
doctype html
html
include ../common/_head
body
	<!--[if lt IE 7]>
	<p class="browsehappy">Вы используете <strong>устаревший</strong> браузер. Пожалуйста <a href="http://browsehappy.com/">обновите его</a></p>
	<![endif]-->
include ../common/_header
section.blog_section
	sidebar.left_blog_sidebar
		.sidebar_menu
			ul.menu_list
				li.menu_item
					a.menu_link_s Самое важное в SASS
				li.menu_item
					a.menu_link_s Приемы в верстке, без которых не обходится не один сайт
				li.menu_item
					a.menu_link_s Самый необходимый набор GULP плагинов
				li.menu_item
					a.menu_link_s  Почему я выбрал 
				li.menu_item
					a.menu_link_s Почему я выбрал SCSS
	main.right_blog_main
		.right_block_content
			.right_block_title Полная совместимость с CSS
			.right_block_data 20.05.05
			.right_block_text Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
			.right_block_text Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
			cod.right_block_cod //Присвоить
			$ (document).data('prop'){anything:"любой объект"})
			$ (document).data('prop'){anything:"любой объект"})
			$ (document).data('prop'){anything:"любой объект"})
			$ (document).data('prop'){anything:"любой объект"})
		.right_block_
			.right_block_title
			.right_block_data
			.right_block_text_one
			.right_block_text_two
		.right_block_
			.right_block_title
			.right_block_data
			.right_block_text_one
			.right_block_text_two
		.right_block_
			.right_block_title
			.right_block_data
			.right_block_text_one
			.right_block_text_two
		.right_block_
			.right_block_title
			.right_block_data
			.right_block_text_one
			.right_block_text_two

include ../common/_footer
