
//- blog.jade
doctype html
html
include ../common/_head
body
	<!--[if lt IE 7]>
	<p class="browsehappy">Вы используете <strong>устаревший</strong> браузер. Пожалуйста <a href="http://browsehappy.com/">обновите его</a></p>
	<![endif]-->
//include ../common/_preloader	
include ../common/_header
.link_wrap
	a.link(href="#blog_s")
		svg.icon.arrowDown
			use(xlink:href='assets/icons/sprite.svg#arrow_down')

section.blog_section#blog_s
	.blog_container
		.left_blog_sidebar
			nav.sidebar_menu
				ul.menu_list
					li.menu_item
						a.menu_link_s(href="#sass") Самое важное в SASS
					li.menu_item.menu_item_active
						a.menu_link_s(href="#front") Приемы в верстке, без которых не обходится не один сайт
					li.menu_item
						a.menu_link_s(href="#gulp") Самый необходимый набор GULP плагинов
					li.menu_item
						a.menu_link_s(href="#story")  Почему я выбрал 
					li.menu_item
						a.menu_link_s(href="#scss") Почему я выбрал SCSS
		main.right_blog_main
			asside.right_bl_content
				.right_bl_title#sass Полная совместимость с CSS
				.right_bl_data 20.05.05
				.right_bl_text Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
				.right_bl_text Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
				cod.right_bl_cod //Присвоить $ (document).data('prop'){anything:"любой объект"})
					$ (document).data('prop'){anything:"любой объект"})
					$ (document).data('prop'){anything:"любой объект"})
					$ (document).data('prop'){anything:"любой объект"})
			asside.right_bl_content
				.right_bl_title#front Полная совместимость с CSS
				.right_bl_data 20.05.05
				.right_bl_text Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
				.right_bl_text Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
				cod.right_bl_cod //Присвоить
				$ (document).data('prop'){anything:"любой объект"})
				$ (document).data('prop'){anything:"любой объект"})
				$ (document).data('prop'){anything:"любой объект"})
				$ (document).data('prop'){anything:"любой объект"})
			asside.right_bl_content
				.right_bl_title#gulp Полная совместимость с CSS
				.right_bl_data 20.05.05
				.right_bl_text Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
				.right_bl_text Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
				cod.right_bl_cod //Присвоить
				$ (document).data('prop'){anything:"любой объект"})
				$ (document).data('prop'){anything:"любой объект"})
				$ (document).data('prop'){anything:"любой объект"})
				$ (document).data('prop'){anything:"любой объект"})
			asside.right_bl_content
				.right_bl_title#story Полная совместимость с CSS
				.right_bl_data 20.05.05
				.right_bl_text Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
				.right_bl_text Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
				code.right_bl_cod
				|$ (document).data('prop'){anything:"любой объект"})
				|$ (document).data('prop'){anything:"любой объект"})
				|$ (document).data('prop'){anything:"любой объект"})
				|$ (document).data('prop'){anything:"любой объект"})
			asside.right_bl_content
				.right_bl_title#scss Полная совместимость с CSS
				.right_bl_data 20.05.05
				.right_bl_text Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
				.right_bl_text Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
				code.right_bl_cod
				|$ (document).data('prop'){anything:"любой объект"})
				|$ (document).data('prop'){anything:"любой объект"})
				|$ (document).data('prop'){anything:"любой объект"})
				|$ (document).data('prop'){anything:"любой объект"})

include ../common/_footer
